body {
    background-color: white;
}

.search {
    height: 675px;
}

.currentWeather {
    height: 675px;
}

#city {
    font-weight: bold;
    font-size: 22px;
}

#date {
    font-weight: bold;
    font-size: 22px;
}
.weather-conditions {
    list-style-type: none;
    padding: 0;
}

.card {
    margin: 0px 15px 0px 15px;
}
.col-md-3 {
    background-color: #ebebeb;
}
h1 {
    background-color: black;
    color: white;
}


 .card {
     border: none;
 }

#forecast {
    margin: 0.5rem 0;
}
.btn-dark {
    background-color: #007bff;
    transition: 250ms ease-in-out;
   margin-left: 2%;
}
.uv-fave {
    background-color: green;
}
  
.uv-mod {
    background-color: orange;
}
  
  
.uv-ext {
    background-color: red;
}
  
